{% extends "base.html" %}

{% block title %}hikes.guru - FAQs{% endblock title %}

{% block content %}
    <div class="row topmargin">
        <h2>Frequently Asked Questions</h2>

        <ul>
            <li><a href="#gpx">Where do I find GPX files?</a></li>
            <li><a href="#nogpx">What if I don't have a GPX file?</a></li>
            <li><a href="#owner">Who runs this site?</a></li>
        </ul>

        <a name="gpx"></a>
        <h3>Where do I find GPX files?</h3>
        <p>While you can list trails without maps, mapped trails are far more useful to the public. We don't currently offer a smartphone app for tracking trails because A) That's not what this site is for; and B) There are already numerous apps on the market that do that for you. mapmyride, strava, Garmin Connect, ...</p>

        <a name="nogpx"></a>
        <h3>What if I don't have a GPX file?</h3>
        <p>If you don't have a GPX file to share, you can still place the trailhead on a map. If you later track the trail with GPX, you can edit the trail later and add a GPX file then.</p>


        <a name="owner"></a>
        <h3>Who runs this site?</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    </div>
{% endblock content %}
