.DS_Store
.project
.ropeproject
*.pyc
*.log
*.swp
*~
/data
.~*
common/CACHE
local_settings.py
settings_local.py
dump.rdb
src/*
public/*
.sass-cache
bower_components
.stversions
apps/contrib/
static_collect
static_deploy
uploads/
.coverage
htmlcov
.fseventsd
.apdisk
*.p12
bootstrap_dist
/venv
node_modules/
app.css
