{% if paginator.num_pages > 1 %}
    <div class="btn-group topmargin">
        {% if trails.has_previous %}
            <button type="button" class="btn btn-default">
                <a href="?page={{ trails.previous_page_number }}">&laquo; Previous</a>
            </button>
        {% endif %}

        <button type="button" class="btn btn-default">Page {{ trails.number }} of {{ trails.paginator.num_pages }}</button>

        {% if trails.has_next %}
            <button type="button" class="btn btn-default">
                <a href="?page={{ trails.next_page_number }}">Next &raquo;</a>
          </button>
        {% endif %}
    </div>
{% endif %}
