{% extends "base.html" %}

{% block content %}



        <div class="row topmargin">
            <div class="col-sm-4">
                <img class="img-circle img-responsive img-center" src="/static/img/poppy_square_300.jpg" alt="">
                <h2>Find A Hike</h2>
                <p>Track down recommended hikes based on distance, difficulty, travel time and more.</p>
            </div>
            <div class="col-sm-4">
                <img class="img-circle img-responsive img-center" src="/static/img/boot_river_300.jpg" alt="">
                <h2>Upload</h2>
                <p>Record your hikes with a phone or GPS, upload track files, annotate and publish.</p>
            </div>
            <div class="col-sm-4">
                <img class="img-circle img-responsive img-center" src="/static/img/green_trees_300.jpg" alt="">
                <h2>Fork in the Road</h2>
                <p>Find someone's hike you like but need to do it your own way? Copy a hike and make it your own.</p>
            </div>
        </div>
{% endblock content %}
