{% extends "base.html" %}
{% load static %}
{% load trailtags %}

{% block title %}{{ person }} {{ block.super }}{% endblock title %}

{% block content %}
    <h2>{{ person }}</h2>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">About {{ person }}</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-2">
                    {% include "people/avatar.html" %}

                    {% if person == user %}
                        <p><a href="{% url 'profile_edit' %}" class="btn btn-primary">Edit my profile</a></p>
                    {% endif %}

                    {% if person.allow_contact %}
                        <p><a href="{% url 'profile_contact' person.username %}" class="btn btn-primary">Contact {{ person }}</a></p>
                    {% endif %}
                </div>
                <div class="col-sm-10">
                    {% if person.about %}
                        {{ person.about|safe|linebreaks }}
                    {% else %}
                        No profile information available
                    {% endif %}

                    {% if person.twitter %}
                        <a href="https://twitter.com/{{ person.twitter }}"><img src="{% static 'img/social/twitter-128.png' %}" width="30"/></a>
                    {% endif %}

                    {% if person.facebook %}
                        <a href="https://facebook.com/{{ person.facebook }}"><img src="{% static 'img/social/facebook-128.png' %}" width="30"/></a>
                    {% endif %}

                    {% if person.instagram %}
                        <a href="https://instagram.com/{{ person.instagram }}"><img src="{% static 'img/social/instagram-128.png' %}" width="30"/></a>
                    {% endif %}

                    {% if person.country %}
                        {{ person.get_country_display}}
                    {% endif %}

                    {% if person.region %}
                        {{ person.region}}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h3>{{ person }}'s trails</h3>
            <div class="list-group">
                {% for trail in trails  %}
                    {% include "trails/trail_list_looper.html" %}
                {% endfor %}
            </div>

            {% include "trails/include/prevnext.html" %}
        </div>
    </div>

    {% if user == person %}
        {% if person.bookmarks.all.count > 0 %}
        <div class="row">
            <div class="col-sm-12">
                <h3>Bookmarked trails</h3>
                <div class="list-group">
                    {% for trail in person.bookmarks.all  %}
                        {% include "trails/trail_list_looper.html" %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
    {% endif %}

    {% if user.is_superuser %}
        <a href="{% url 'login_as_other' person.username %}" class="btn btn-warning btn-small">Become {{ person }}</a>
    {% endif %}

{% endblock content %}
