{% extends "base.html" %}
{% load static %}

{% block content %}
    <h2>Hikes owned by {{ person }}</h2>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">About {{ person }}</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-2">
                    {% include "people/avatar.html" %}

                    {% if person == user %}
                        <p><a href="{% url 'profile_edit' %}" class="btn btn-primary">Edit my profile</a></p>
                    {% endif %}
                </div>
                <div class="col-sm-10">
                    {% if person.about %}
                        {{ person.about|safe|linebreaks }}
                    {% else %}
                        No profile information available
                    {% endif %}

                    {% if person.twitter %}
                        <p><strong>Twitter:</strong> <a href="https://twitter.com/{{ person.twitter }}">{{ person.twitter }}</a></p>
                    {% endif %}

                    {% if person.facebook %}
                        <p><strong>Facebook:</strong> <a href="https://facebook.com/{{ person.facebook }}">{{ person.facebook }}</a></p>
                    {% endif %}

                    {% if person.instagram %}
                        <p><strong>Instagram:</strong> <a href="https://instagram.com/{{ person.instagram }}">{{ person.instagram }}</a></p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            {% for trail in person.trail_set.all  %}
                <p>
                    {{ trail.title }} ({{ trail.region }})<br />
                    Distance: {{ trail.distance }}<br />
                    Ascent: {{ trail.ascent }}<br />
                    Calories: {{ trail.calories }}<br />
                </p>

            {% endfor %}
        </div>
    </div>




{% endblock content %}
