{% extends "base.html" %}
{% load static %}

{% block content %}

    <h3>Edit my Profile</h3>
    <form class="" action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-primary" name="profile_edit_form" value="Submit">
    </form>

{% endblock content %}

{% block extra_js %}
    <script src="{% static 'bower_components/ckeditor/ckeditor.js' %}"></script>

    <script>
        $( document ).ready(function() {
            // Activate CKEditor on About field
            CKEDITOR.replace( 'id_about', {
                customConfig: '/static/js/ckeditor_config.js'
            });
		});
    </script>
{% endblock extra_js %}
