{% extends "base.html" %}

{% block title %}Trail Finder {{ block.super }}{% endblock title %}

{% block content %}
    <h2>All Trails</h2>

    <form class="form" action="" method="get" style="margin-bottom: 10px;">
        <div class="input-group">
            <input type="text" class="form-control" name="q" placeholder="Search for..." value="{% if q %}{{ q }}{% endif %}">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="button">Go!</button>
            </span>
        </div>
    </form>

    <h5>{{ paginator.count }} trails</h5>

    {% for trail in trails  %}
        {% include "trails/trail_list_looper.html" %}
    {% empty %}
        <p>No trails to show for search term "{{ q }}".</p>
    {% endfor %}

    {% include "trails/include/prevnext.html" %}

{% endblock content %}
