{% extends "base.html" %}
{% load static %}
{% load bootstrap %}

{% block title %}{{ trail.title }} by {{ trail.owner }} (Trail) {{ block.super }}{% endblock title %}

{% block content %}

    <h2>{% if urlhash %}Edit{% else %}Add a{% endif %} Trail</h2>


    <form class="" action="" method="post">
        {% csrf_token %}
        {{ form|bootstrap }}
        <p><input type="submit" class="btn btn-primary" name="trail_edit_form" value="Submit"></p>
    </form>

{% endblock content %}

{% block extra_js %}
    <script src="{% static 'bower_components/ckeditor/ckeditor.js' %}"></script>
    <script>
        $( document ).ready(function() {
            // Activate CKEditor on About field
            CKEDITOR.replace( 'id_description', {
                customConfig: '/static/js/ckeditor_config.js'
            });
		});
    </script>
{% endblock extra_js %}
