// Override icon-font-path value and include Bootstrap scss
$icon-font-path: "/static/bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap";

@import "partials/pages";


body {
    padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.guru-header {
    height: 400px;
    background: url('/static/img/banner/eucalyptus.jpg') center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.tagline {
    text-shadow: 0 0 10px #000;
    color: #fff;
}

.img-center {
    margin: 0 auto;
}

.topmargin {
    margin-top: 50px;
}
